<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Erebus" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>Home | Erebus</title>
  </head>
  <body>
    <div class="container mt-2">
      <header>
        <h2>Welcome to Erebus</h2>
      </header>
    </div>
  </body>
</html>